@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}
::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
.custom-1 {
  margin-left: 200px;
}
.custom-2 {
  margin-left: 550px;
}
